name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  asciidoctor:
    name: "Asciidoctor"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Run Asciidoctor
        run: ./gradlew asciidoctor
      - name: Publish to GitHub Pages
        if: github.repository == 'assertj/doc' && github.event_name == 'push'
        run: ./gradlew --stacktrace --info gitPublishPush
        env:
          GRGIT_USER: ${{ secrets.ASCIIDOCTOR_TOKEN }}
