name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  asciidoctor:
    name: "Asciidoctor"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set up JDK 11
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: 'zulu'
          java-version: 11
          cache: 'gradle'
      - name: Run Asciidoctor
        run: ./gradlew asciidoctor
      - name: Publish to GitHub Pages
        if: github.repository == 'assertj/doc' && github.event_name == 'push'
        run: ./gradlew --stacktrace --info gitPublishPush
        env:
          GIT_COMMITTER_NAME: GitHub Actions
          GIT_COMMITTER_EMAIL: 41898282+github-actions[bot]@users.noreply.github.com
          GRGIT_USER: ${{ secrets.ASCIIDOCTOR_TOKEN }}
