name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  asciidoctor:
    name: "Asciidoctor"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up JDK 11
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'zulu'
          java-version: 11
          cache: 'gradle'
      - name: Run Asciidoctor
        run: ./gradlew asciidoctor
      - name: Publish to GitHub Pages
        if: github.repository == 'assertj/doc' && github.event_name == 'push'
        run: ./gradlew --stacktrace --info gitPublishPush
        env:
          GIT_COMMITTER_NAME: GitHub Actions
          GIT_COMMITTER_EMAIL: 41898282+github-actions[bot]@users.noreply.github.com
          GRGIT_USER: ${{ secrets.ASCIIDOCTOR_TOKEN }}
